.great-great-grand-parents {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background: white;
}

.great-grand-parents {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  background: orchid
}

.grand-parents {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background: royalblue
}

.parents {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background: khaki;
}

.child {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background: chartreuse;
}